
<div class="image">
<img alt="SasolWax" src="/assets/sasolwax_groß.jpg"/>
</div>
<div class="text">
	<h5>Einleitung:</h5>
	<p>
		Lieber Benutzer, <br>
		Hier findes du eine neue Plattform für die Domumentation 
		von Beinaheunfällen bei der Sasol Wax in Hamburg. <br>
		Alle hier von euch eingetragenen Ereignisse sind absolut Freiwillig
		und werden keinerlei Konsequenzen für den Meldenden haben. <br>
		Die hier eingetragenen Beinaheunfälle dienen lediglich der Verbesserung unseres Sicherheitskonzeptes.<br>
	</p>
</div>
<hr>
<div class="text">
	<h5>Möglichkeiten</h5>
	<p>
		Hier habt ihr die Möglichlkeit: <br>
		<ul>
			<li> Ereignisse einzutragen </li>
			<li> Alle eingetragenen Ereignisse anzusehen </li>
			<li> Alle eingetragenen Unfälle anzusehen </li>
			<li> Aus den Ereignissen und Unfällen erstellte Maßnahmen einzusehen </li>
		</ul>
	</p>
</div>
<hr>
<div class="text">
	<p>Impressum: <br>
		Diese Plattform wurde im Rahmen einer Techniker Abschlussarbeit erstellt. <br>
		Erstellt für die SasolWax GmbH Hamburg <br>
		Alle hier bis zum 14.11.2016 eingetragenen Ereignisse und Unfälle dienen nur als Bespiele <br>
		Erstellt von: Thomas Grotheer	<br>
	</p>

</div>