<h3> Admin Bereich </h3>

<h6>Hier findest du alle Links für die Pflege der Reports </h6>
<ul class="button-group round">
	<li><%=link_to "Kategorien", categories_path, class: 'small button'%> <li>
	<li><%=link_to "Reports", reports_path, class: 'small button'%> </li>
	<li><%=link_to "Orte", places_path, class: 'small button'%> </li>
</ul>

<h6>Hier findest du alle Links für die Pflege der User </h6>
<ul class="button-group round">
  <li><%=link_to "User", users_path, class: 'small button' %> </li>
</ul>