<%# add navigation links to this file %>
<div class="top-bar-section">
    <ul>
      <li class="has-dropdown">
        <a href="#">Menu</a>
        <ul class="dropdown">
          <li><%= link_to "erstens", root_path%></li>
          <li><%= link_to "zweitens", root_path%></li>
          <li><%= link_to "usw...", root_path%></li>
        </ul>
      </li>
    </ul>
  </div>
