<br>
<p>
  <strong>Kostenstelle:</strong>
  <%= @place.kostenstelle %>
</p>

<p>
  <strong>Bezeichnung:</strong>
  <%= @place.bezeichnung %>
</p>

<%= link_to 'Ändern', edit_place_path(@place) %> |
<%= link_to 'Zurück', places_path %>
