<p id="notice"><%= notice %></p>

<p>
  <strong>Bezeichnung:</strong>
  <%= @division.bezeichnung %>
</p>

<%= link_to 'Edit', edit_division_path(@division) %> |
<%= link_to 'Back', divisions_path %>
